---
Checks: >-
  -*,
  bugprone-assert-side-effect,
  bugprone-exception-escape,
  bugprone-narrowing-conversions,
  bugprone-signed-char-misuse,
  bugprone-sizeof-expression,
  bugprone-use-after-move,
  cert-dcl21-cpp,
  cert-dcl58-cpp,
  cert-err58-cpp,
  cert-oop11-cpp,
  clang-analyzer-core.CallAndMessage,
  clang-analyzer-core.NullDereference,
  clang-analyzer-core.UndefinedBinaryOperatorResult,
  clang-analyzer-cplusplus.NewDelete,
  clang-analyzer-cplusplus.NewDeleteLeaks,
  clang-analyzer-deadcode.DeadStores,
  clang-analyzer-security.insecureAPI.DeprecatedOrUnsafeBufferHandling,
  concurrency-mt-unsafe,
  cppcoreguidelines-pro-type-cstyle-cast,
  google-build-explicit-make-pair,
  google-explicit-constructor,
  google-readability-casting,
  performance-for-range-copy,
  performance-implicit-conversion-in-loop,
  performance-move-const-arg,
  performance-noexcept-move-constructor,
  performance-unnecessary-copy-initialization,
  portability-avoid-pragma-once,
  readability-avoid-return-with-void-value,
  readability-const-return-type,
  readability-container-size-empty,
  readability-redundant-control-flow,
  readability-redundant-string-cstr
WarningsAsErrors: '*'
HeaderFilterRegex: '.*/(include|src|tests|probes|fuzz)/'
FormatStyle: file
SystemHeaders: false
...
