---
BasedOnStyle: Google
ColumnLimit: 80
DerivePointerAlignment: false
PointerAlignment: Left
SortIncludes: CaseSensitive
IncludeBlocks: Regroup
IncludeCategories:
  - Regex: '^<[^/>]+\.h>'
    Priority: 1
  - Regex: '^<[^/>]+>'
    Priority: 2
  - Regex: '^<.*>'
    Priority: 3
  - Regex: '^".*"'
    Priority: 4
...
